<a href="https://colab.research.google.com/github/10811237/-/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

新的

In [0]:
import pandas as pd

In [0]:
titanic.read_csv('titanic.csv')

      row.names pclass  survived  ...      ticket   boat     sex
0             1    1st         1  ...  24160 L221      2  female
1             2    1st         0  ...         NaN    NaN  female
2             3    1st         0  ...         NaN  (135)    male
3             4    1st         0  ...         NaN    NaN  female
4             5    1st         1  ...         NaN     11    male
...         ...    ...       ...  ...         ...    ...     ...
1308       1309    3rd         0  ...         NaN    NaN    male
1309       1310    3rd         0  ...         NaN    NaN    male
1310       1311    3rd         0  ...         NaN    NaN    male
1311       1312    3rd         0  ...         NaN    NaN  female
1312       1313    3rd         0  ...         NaN    NaN    male

[1313 rows x 11 columns]

In [0]:
df=titanic.read_csv('titanic_train.csv')

In [0]:
titanic.head()

AttributeError: ignored

In [0]:
titanic.shape

AttributeError: ignored

In [0]:
X=titanic[['pclass','age','sex']]

TypeError: ignored

In [0]:
X.head()

AttributeError: ignored